*
{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
body
{
    background-color: #000;
   
}
#home
{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.8)0,rgba(0,0,0,0.4), rgba(0, 0, 0, 0.8) 100%),url(images/header-image.png);
    width:100%;
    height:100vh;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
 
}
header
{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top:1rem;
  
}
hr
{
    background-color:grey;
    height:10px;
    max-width:100%;
    margin-top:2rem;
}
header ul
{
    padding-right:60px;
    list-style:none;
}
header ul select
{
    
    background:transparent;
    border-radius:5px;
    cursor: pointer;
    border:1px solid rgb(151, 147, 147);
    outline:0;
    box-shadow:none;
    padding:4px;
    width:150px;
    color:white;
    
    
}
header ul li select option
{
    padding-left:10%;
}
header ul li
{
    display: inline-block;
    padding:0px 20px;
    margin-top:4%;
}
.logo
{
    width:210px;
    padding-left:60px;
    cursor: pointer;
}

button
{
     background-color:red;
     outline:0;
     border:0;
     box-shadow:none;
     cursor:pointer;
     text-align:center;
     display: inline-block;
     padding:4px;
     width:75px;
     color:white;
     border-radius:5px;

}
.inputbox
{
    display:flex;
    align-items:center;
    justify-content:center
}
#home .content
{
    text-align: center;
    overflow: hidden;
    margin:0;
    position:relative;
    top:30%;
   
 
    
}
.content h1
{
    color:white;
    font-size:3rem;
    font-weight:800;
    
}
.content p
{
    color:white;
}
.inputbox button
{
   width:200px;
   padding:15px;
   margin:0.5rem;
}

.inputbox input
{
    padding:15px;
    width:370px;
    border-color: rgba(128,128,128,0.7);
    outline:0;
    background: rgba(22,22,22,0.7);
    border-radius:3px;

}
.inputbox input::placeholder
{
    color: rgba(255,255,255,0.7);
}
#feauture
{
    background-color:#000;
    height: max-content;
}
#feauture .content
{
    
 
    position:relative;
    top:20%;
    overflow: hidden;

}
#feauture .content h1
{
    font-weight: bold;
}
#feauture .inputbox
{
    display: flex;
    align-items: center;
    justify-content:center;
}
#faq
{
    width:100%;
    margin-top:3rem;
    background-color:#000;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#faq h1
{
    color:white;
}
.accordion
{
--bs-accordion-btn-bg:rgb(45,45,45);
--bs-accordion-btn-color:rgb(255,255,255);
--bs-accordion-active-bg:rgb(45,45,45);
--bs-accordion-active-color:white;
--bs-accordion-btn-focus-box-shadow:none;
--bs-accordion-bg:rgb(45,45,45);
--bs-accordion-color:white;
--bs-accordion-border-color:black;
--bs-accordion-border-width:1rem ;
--bs-accordion-btn-padding-y:3%;
--bs-accordion-body-padding-y:5%;
}
.accordion-button:not(.collapsed){

    box-shadow:none;
}
.accordion-button::after {

    background-image:url('images/icons8-add-24.png');
    transition:0.5s ease-in-out;
   
}
.accordion-button:not(.collapsed)::after {

    background-image:url('images/icons8-close-30.png');
    transition:0.5s ease-in-out;
   
}
.forgot a
{
    margin-left:1rem;

}


footer .insta img
{
    width:80px;
}
footer
{
    margin-top:5rem;
    background-color: #000;
}
footer a
{
    color: rgba(255,255,255,0.7);
    font-size:0.8rem;
    

}
footer ul 
{
    list-style:none;
}
footer ul li
{
  padding-bottom:1rem;
}
footer ul li select
{
    
    background:transparent;
    border-radius:5px;
    cursor: pointer;
    border:3px solid white;
    outline:0;
    box-shadow:none;
    padding:4px;
    width:80px;
    color:white;
}
@media screen and (max-width:768px){
  #change
  {
    text-align: center;
  }
 #home .content
 {
    position:relative;
    top:20%;
 }
  

}
@media screen and (max-width:576px)
{

   
   header ul
   {
      display:flex;
      padding:0;
   }
   header .logo
   {
    width:200px;
   }
  
  
   .inputbox
   {
    flex-direction: column;
   }
   .inputbox button
   {
    width:100%;
    margin-left:2rem;
   }
 
   #home .content h1

   {
   font-size:2rem;
   }
   #home .inputbox 
   {
     display:flex;
     align-items: center;
     justify-content: center;
   }
   .inputbox button
   {
    width:40%;

   }
   .inputbox input
   {
    width:80%;
   }
   #change p
   {
    font-size:0.8rem;
   }
    .logo
   {
    padding-left:0;
    width:100px!important;
   }
button
{
    margin-right: 10px;
}
}
@media screen and(max-width:798px)
{
    
   #home .content h1
{
   font-size:1.5rem;
}
}




